.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn {
  margin: 5px;
}

.articlesLi {
  padding-top: 10px;
  list-style-type: none;
  border-bottom: 1px solid darkgray;
}

.articleLi {
  padding-top: 10px;
  list-style-type: none;
}

.commentsLi {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  padding-top: 10px;
  list-style-type: none;
  border-top: 1px solid darkgray;
}

.addArticle {
  position: fixed;
  top: 4rem;
  right: 4rem;
}

.dropdown-menu {         
  max-height: 400px;
  overflow-y: auto;
}

.dropdown-item {
  font-size: medium;
}

label{
  display: block;
}

.form {
  width: 40vw;
}

.formButton {
  margin-top: 20px;
  display: flex;
  text-align: center;
}

.comments {
  background-color: whitesmoke;
  color: darkgrey;
  display: flex;
  display: inline-block;
  width: 50vw;
  justify-content: space-evenly;
}

.articleLink {
  color: white;
}

.articleLink:hover {
  color: darkgrey;
}

.articleH1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .disappointed {
    z-index: 0;
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.wrapper {
  width: 80vw;
  display: block;
  padding: 10vh 15vw 0 15vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
